<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:5em; 
                height:5em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 5em;
                border: 1px solid #404a4e;
                background-color: #404a4e;
                color: #cccccc;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>
            <p:panel header="Ingresar Celulares #{controladorABB.arbol.cantidadNodos}" rendered="#{!controladorABB.verRegistrar}">
                <p:diagram value="#{controladorABB.model}" 
                           style="height:400px" styleClass="ui-widget-content" />

                <p:commandButton value="Nuevo" action="#{controladorABB.habilitarRegistrar()}"
                                 update="@all"   />

                <p:commandButton value="Elimimar Mayor" action="#{controladorABB.borrarMayor()}"
                                 update="@all"  ajax="false" />

                <p:commandButton value="Eliminar menor" action="#{controladorABB.borrarMenor()}"
                                 update="@all" ajax="false"  />
                
                <p:commandButton value="Podar" action="#{controladorABB.podarArbol()}"
                                 update="@all" ajax="false"  />

                <p:panel  header="buscar por posicion">

                    <p:commandButton value="Buscar celular"
                                     update="@all" />                  
                    <p:inputText value="#{controladorABB.encontrarImei}"/>


                </p:panel>
            </p:panel>
        </h:form>


        <h:form>
            <p:panel  header="Registrar Celular" rendered="#{controladorABB.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{controladorABB.celular.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{controladorABB.celular.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{controladorABB.celular.marca.codigo}">
                            <f:selectItems value="#{controladorABB.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{controladorABB.celular.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{controladorABB.celular.operador.nombre}">                            
                            <f:selectItems value="#{controladorABB.operadores}"
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{controladorABB.celular.precio}" />


                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorABB.guardarCelular()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false"
                                         action="#{controladorABB.deshabilitarRegistrar()}"/>
                    </p:panelGrid>
                </center>

            </p:panel>

            <center>
                <p:panel  header="Eliminar por posicion">
                    <p:inputText value="#{controladorABB.encontrarImei}"/>
                    <p:commandButton value="Eliminar por posicion" action="#{controladorABB.borrarCelular()}" update="@all" ajax="false" />

                </p:panel>

                <p:panel  header="Precios">

                    <p:outputLabel value="Los Precios suman: #{controladorABB.arbol.sumarPrecios()}"/>
                    <br/>
                    <p:outputLabel value="Los Precios promedian: #{controladorABB.arbol.calcularPromedioPrecios()}"/>

                </p:panel>

                <p:panel  header="Mayor y Menor">

                    <p:outputLabel value="Mayor: #{controladorABB.arbol.mayor()}"/>
                    <br/>
                    <p:outputLabel value="Menor: #{controladorABB.arbol.menor()}"/>

                </p:panel>

                <p:panel  header="Rama mayor">

                    <p:outputLabel value="Rama mayor: #{controladorABB.ramaMayor()}"/>
                </p:panel>

                <p:panel header="Hojas del arbol ">
                    <p:outputLabel value="Hojas = #{controladorABB.darHojas()}"/>
                </p:panel>

                <p:panel  header=" Cantidad de Hojas">

                    <p:outputLabel value="Cantidad: #{controladorABB.arbol.cantidadNodosHoja()}"/>
                    <br/>


                </p:panel>


                <p:panel header="Recorrido InOrden">
                    <p:dataTable value="#{controladorABB.arbol.recorrerInOrden()}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Imei"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.imei}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nro"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.numeroLinea}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Color"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.color}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>


                <p:panel header="Recorrido PreOrden">
                    <p:dataTable value="#{controladorABB.arbol.recorrerPreOrden()}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Imei"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.imei}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nro"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.numeroLinea}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Color"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.color}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <p:panel header="Recorrido PostOrden">
                    <p:dataTable value="#{controladorABB.arbol.recorrerPostOrden()}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Imei"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.imei}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nro"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.numeroLinea}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Color"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.color}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </center>
        </h:form>
    </h:body>
</html>

