<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear  Barcos </title>
    </h:head>
    <h:body>



        <p:growl id="grwErrores"/>
        <h:form>
            <p:panel header="Ingresar Barcos #{controladorBatallaNv.arbol.cantidadBarcos}" rendered="#{!controladorBatallaNv.verRegistrar}">
                <center>
                    <img src="../Imagenes/Batalla-naval.1.jpg" alt="" width="400" height="400"/>
                </center>
                <br></br>
                <br></br>

                <p:commandButton value="Nuevo" action="#{controladorBatallaNv.habilitarRegistrar()}"
                                 update="@all"   />
                <p:panel  header="Eliminar por posicion">
                    <p:inputText value="#{controladorBatallaNv.buscarBarco}"/>
                    <p:commandButton value="Eliminar Barco" action="#{controladorBatallaNv.borrarBarco()}" update="@all" ajax="false" />

                </p:panel>
            </p:panel>



        </h:form>

        <h:form>
            <p:panel  header="Crear  Barco" rendered="#{controladorBatallaNv.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Nombre"/>
                        <p:inputText required="true" value="#{controladorBatallaNv.barco.nombre}"/>

                        <p:outputLabel value="Cantidad  de Barcos"/>
                        <p:inputText required="true" value="#{controladorBatallaNv.barco.cantidadJuego}"/>

                        <p:outputLabel value="Cantidad De Casillas" />
                        <p:inputText required="true" value="#{controladorBatallaNv.barco.nroCasillas}"/>
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorBatallaNv.guardarBarco()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false"
                                         action="#{controladorBatallaNv.deshabilitarRegistrar()}"/>
                    </p:panelGrid>
                </center>
            </p:panel>
            <center>
                <p:panel header="Recorrido InOrden">
                    <p:dataTable value="#{controladorBatallaNv.arbol.recorrerInOrden()}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Cantidad de Juego "/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.cantidadJuego}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero de casillas"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroCasillas}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </center>
        </h:form>
    </h:body>
</html>

