<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <br></br>
        <br></br>
        <center>
            <p:panel header="Login" style="width: 465px; background: white; border: 2px solid #585858">
                <p:growl id="pnlErrorLogin"/>
                <h:form>
                    <img src="Imagenes/Login.jpg" alt=""/>
                    <br></br>
                    
                    <br></br>
                    <font color="blue">
                   Usuario:
                    </font>
                          <br></br>   
                    <p:inputText value="#{beanControler.usuario}" required="true"/>
                    <br></br>

                    <br></br>
                    <br></br>
                    
                    <font color="blue">
                  Password:
                    </font> 
                    <br></br> 
                    <p:password value="#{beanControler.contrasena}" required="true"/>
                    <br></br>
                    <br></br>
                   
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                          
                        <font color="blue">
                         Rol:
                         </font>
                        
                        <br></br>
                    

                        <p:selectOneListbox id="basic" value="#{beanControler.rol}">
                            <f:selectItem itemLabel="Administrador" itemValue="Administrador" />
                            <f:selectItem itemLabel="Jugador" itemValue="Jugador" />
                        </p:selectOneListbox>
                    </h:panelGrid>

                    <br></br>
                    <p:commandButton value="Ingresar" ajax="false" action="#{beanControler.ingresoUsuarios()}"/>
                   
                    <br></br>
                    <br></br>
                </h:form>
            </p:panel>
        </center>
    </h:body>
</html>