<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <div style="height:500px">
            <h:form>
                <p:growl id="msgs" showDetail="true" />

                <p:dashboard id="board" model="#{dashboardView.model}">
                    <p:ajax event="reorder" listener="#{dashboardView.handleReorder}" update="msgs" />
                      
                    <p:panel id="sports" header="Arbol ABB">
                        
                        <img src="Imagenes/Arbol Binario.jpg" alt="" width="250" height="200"/>
                        <br></br>
                        <br></br>
                        <p:commandButton value="ARBOL ABB" action="irABB"/>
                    </p:panel>

                    <p:panel id="finance" header="Arbol AVL">
                        <img src="Imagenes/Arbol AVL.jpg" alt="" width="250" height="200"/>
                        <br></br>
                         <br></br>
                    
                          <p:commandButton value="ARBOL AVL" action="irAvl"/>
                    </p:panel>

                    <p:panel id="lifestyle" header="Arbol N-ario">
                        <img src="Imagenes/ArbolN-ario.jpg" alt="" width="250" height="220"/>
                       
                        
                        <br></br>
                          <p:commandButton value="ARBOL N-ARIO " action="irN-ario"/>
                    </p:panel>
                   
                    <p:panel id="weather" header="Batalla Naval">
                        <img src="Imagenes/Batalla naval.jpg" alt="" width="250" height="200"/>
                   
                        <br></br>
                        <br></br>
                        <p:commandButton value="BATALLA NAVAL " action="irLogin"/>
                    </p:panel>

                </p:dashboard>

                <div style="clear:both" />
            </h:form>
        </div>
    </h:body>
</html>